:root {
  --appcolor: rgb(211, 38, 139);
  --apphighlight: rgb(212, 53, 204);
}

body {background-color:rgb(211, 151, 205);color:white;}

.bgColor {background-color:var(--appcolor)!important;}
.color {color:var(--appcolor)!important;}
.colorOnHover:hover {color:var(--appcolor)!important;}
.bgColorOnHover:hover {background-color:var(--appcolor)!important;}
a:hover {color:var(--appcolor);}
.activated {color:var(--appcolor)!important;}

video#videoplayer {background-color:rgb(211, 151, 205);}

#searchinplaylist {border-left:1px solid var(--apphighlight);background-color:rgb(211, 151, 205);color:var(--apphighlight);}
input#searchinplaylist:focus {border-bottom:1px solid var(--apphighlight);}

ol#playlist {background-color:rgb(211, 151, 205);border-left:1px solid var(--apphighlight);}
ol#playlist li a:hover {color:var(--apphighlight);}
ol#playlist li i.deletefromlistlink {color:#8f2f3f;}
ol#playlist li i.deletefromlistlink:hover {color:rgb(219, 6, 6);}

div#controls {background-color: rgba(194, 102, 189, 0.4);border:2px solid var(--appcolor);}

div#playprogressholder {background-color:#dddddd;;}
div#playprogress {background-color:var(--apphighlight);}

.w3-modal header {background-color:var(--apphighlight);}
.w3-modal .w3-modal-content {background-color:#ec7ae3;}

#loading-overlay {background-color:rgba(212, 53, 204, 0.4);}
#loading-overlay i {color:var(--appcolor);}

::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(left, var(--appcolor) 0%,var(--apphighlight) 100%) !important;
  box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 0px inset, rgba(16, 168, 74, 0.067) 0px -1px 0px inset !important;
}
::-webkit-scrollbar-thumb:hover {
  background: -webkit-linear-gradient(left, rgb(223, 75, 210) 0%,rgb(233, 43, 185) 100%) !important;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: -webkit-linear-gradient(left, rgba(58,58,58,1) 0%,rgba(80,80,80,1) 100%) !important;
}
