/*http://support.google.com/chrome/?hl=en*/
::-webkit-scrollbar {
  height: 16px !important;
  overflow: visible !important;
  width: 16px !important;
}

::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(left, rgb(48, 202, 74) 0%,rgb(19, 167, 43) 100%) !important;
  background-clip: padding-box !important;
  border: 2px solid transparent !important;
  border-image: initial !important;
  min-height: 28px !important;
  padding: 100px 0px 0px !important;
  box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 0px inset, rgba(16, 168, 74, 0.067) 0px -1px 0px inset !important;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: -webkit-linear-gradient(left, rgb(29, 129, 25) 0%,rgb(5, 117, 20) 100%) !important;
  background-clip: padding-box !important;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: -webkit-linear-gradient(left, rgba(58,58,58,1) 0%,rgba(80,80,80,1) 100%) !important;
  background-clip: padding-box !important;
}

::-webkit-scrollbar-button {
  height: 0px !important;
  width: 0px !important;
}

::-webkit-scrollbar-track {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAAAAABVicqIAAAACXZwQWcAAABkAAAAZACHJl7mAAAASUlEQVRo3u3PQQEAIAzDQOoE/6bAyaaiv0sUXN799TOnX0hISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhIqi0mjfaIwOmF7QAAAABJRU5ErkJggg==) repeat !important;
  /*background-clip: padding-box !important;*/
  /*border: 2px solid white !important;*/
  /*border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAAAAABVicqIAAAACXZwQWcAAABkAAAAZACHJl7mAAAASUlEQVRo3u3PQQEAIAzDQOoE/6bAyaaiv0sUXN799TOnX0hISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhIqi0mjfaIwOmF7QAAAABJRU5ErkJggg==) 3 repeat!important;*/
  /*border-image: initial !important;*/
  box-shadow: inset 1px 0px 5px -2px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-corner {
  background: transparent !important;
}